/.idea
/adminer
/index.nginx-debian.html
/.DS_Store
/frontend/node_modules
/frontend/.npmignore
/frontend/.eslintrc.json
/frontend/build
/frontend/.DS_Store
/frontend/.idea
/frontend/src/assets/.DS_Store
/frontend/src/.DS_Store
/frontend/src/deployConfig.json
/backend/.idea
/backend/deployConfig.json
/backend/.DS_Store
/backend/nginx
/backend/Dockerfile
/backend/Makefile
/backend/config/permissionConfig.ini