/.idea
/.DS_Store
/frontend/node_modules
/frontend/.npmignore
/frontend/.eslintrc.json
/frontend/build
/frontend/.DS_Store
/frontend/.idea
/frontend/src/assets/.DS_Store
/frontend/src/.DS_Store
/backend/.idea
/dockerfiles/.DS_Store