/volume
/.idea
/.DS_Store
/mobile-layouts-manager-front/node_modules
/mobile-layouts-manager-front/.npmignore
/mobile-layouts-manager-front/.eslintrc.json
/mobile-layouts-manager-front/build
/mobile-layouts-manager-front/.DS_Store
/mobile-layouts-manager-front/.idea
/mobile-layouts-manager-front/src/assets/.DS_Store
/mobile-layouts-manager-front/src/.DS_Store
/mlm-back/.idea
/dockerfiles/.DS_Store