.toolsbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid black;
    align-items: center;
    /*margin-bottom: 50px;*/
}

.toolsbarItem {
    height: 50px;
    width: 50px;
    border-right: 1px solid black;
}

.toolsbarItemBtn {
    height: 100%;
    width: 100%
}

.prevOkBtnSeparator {
    flex: 1;
}

.okButton {
    align-self: center;
    margin: 0 10px 0 10px;
}

.select {
    appearance: none;
    padding: 0 1em 0 0;
    margin: 0 0 0 10px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    align-self: center;
}

.gridScreenContainer {
    align-items: center;
    justify-content: center;
}

.btnScreenContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
    text-align: center;
    align-items: center;
}