.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.topBar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #bbbbbb;
}

.headerSeparator {
  flex: 1;
}

.loginBtn {
  background-color: #dddddd;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.leftMenu {
  display: flex;
  flex: 1;
  background-color: red;
  flex-direction: column;
}

.mainContent {
  flex: 5;
  padding: 20px;
}

.template {
  margin: 10px;
}

.templsRow {
  display: flex;
  flex-direction: row;
}

.templsSepar {
  flex: 1;
}

.emptyTemp {
  height: 500px;
  width: 320px;
}

.twoSepar {
  flex: 2;
}
