.TemplatesPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  .myTemplates {
    flex: 5;
    padding: 20px;
  }
  
  .template {
    margin: 10px;
  }
  
  .templatesRow {
    display: flex;
    flex-direction: row;
  }
  
  .templatesSeparator {
    flex: 1;
  }
  
  .emptyTemp {
    height: 500px;
    width: 320px;
  }
  
  .twoSepar {
    flex: 2;
  }
  